@media (max-width: 1440px){
    header, #container-header{
        display: flex;
        width: 100%;
        padding: 25px;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top : 0px;
        z-index: 999999999;
        background-color: rgb(255, 255, 255);
    }



    .box-nav-list{
        display: flex;
        width: 65%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    
    .box-list{
        display: flex;
        min-width: 98%;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    
    .box-list li, a{
        display: flex;
        list-style: none;
        text-decoration: none;
        gap: 0.2rem;
        color: #9667a9;
    }
    
    
    a, b{
        font-size: 0.7em;
        font-weight: 400;
    }
    a:hover{
        color: rgb(203, 5, 150);
    }
    
    
    b{
        font-weight: 800;
    }
    b:hover{
        color: rgb(203, 5, 150);
    }



    #container-input-social-media{
        display: flex;
        width: 20%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    
    .box-input{
        display: flex;
        width: 55%;
        align-items: center;
        justify-content: center;
    }
    
    
    .input-search{
        display: flex;
        width: 8.1em;
        height: 1.8rem;
        padding-left: 30px;
        text-align: left;
        align-items: center;
        justify-content: center;
        border: 3px solid #9667a9;
        border-radius: 50px;
        outline: none;
        background-image: url(/imgs/Imagem-lupa-search.png);
        background-repeat: no-repeat;
        background-size: 14px;
        background-position-x: 5px;
        background-position-y: center;
    }
    ::-webkit-input-placeholder{
        color: #9767a9;
        align-items: center;
        font-size: 12px;
        opacity: 80%;
    }
    
    .box-imgs-social-media{
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: space-between;
    }
    
    .img-face, .img-insta, .img-youtube{
        display: flex;
        width: 1.6em;
        justify-content: center;
    }
}



@media (max-width: 1024px){
    header, #container-header{
        display: flex;
        width: 100%;
        padding: 25px;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top : 0px;
        z-index: 999999999;
        background-color: rgb(255, 255, 255);
    }



    .box-nav-list{
        display: flex;
        width: 60%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    
    .box-list{
        display: flex;
        min-width: 100%;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }
    
    
    .box-list li, a{
        display: flex;
        list-style: none;
        text-decoration: none;
        gap: 0.2rem;
        color: #9667a9;
    }
    
    
    a, b{
        font-size: 0.6em;
        font-weight: 350;
    }
    a:hover{
        color: rgb(203, 5, 150);
    }
    
    
    b{
        font-weight: 780;
    }
    b:hover{
        color: rgb(203, 5, 150);
    }



    #container-input-social-media{
        display: flex;
        width: 25%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    
    .box-input{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    
    
    .input-search{
        display: flex;
        width: 6.8em;
        height: 1.5rem;
        padding-left: 30px;
        text-align: left;
        align-items: center;
        justify-content: center;
        border: 3px solid #9667a9;
        border-radius: 50px;
        outline: none;
        background-image: url(/imgs/Imagem-lupa-search.png);
        background-repeat: no-repeat;
        background-size: 14px;
        background-position-x: 5px;
        background-position-y: center;
    }
    ::-webkit-input-placeholder{
        color: #9767a9;
        align-items: center;
        font-size: 11px;
        opacity: 80%;
    }
    
    .box-imgs-social-media{
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: space-between;
    }
    
    .img-face, .img-insta, .img-youtube{
        display: flex;
        width: 1.9em;
        justify-content: center;
    }
}