
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}



header{
    display: flex;
    width: 100%;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top : 0px;
    z-index: 999999999;
    background-color: rgb(255, 255, 255);
}


#container-header{
    display: flex;
    width: 80%;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}



/*logo*/

.box-fig-img{
    display: flex;
    width: 10%;
    align-items: left;
}
.img-logo-hdr{
    display: flex;
    width: 55%;
}



/*navigation*/

.box-nav-inpt-mds{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
}

.box-nav-list{
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.box-list{
    display: flex;
    min-width: 90%;
    text-align: center;
    align-items: left;
    justify-content:center;
}
.box-list li > a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9667a9;
}
ul{
    list-style: none;
}
.link-dicas > b{
    font-size: 1em;
    font-weight: 800;
}
a{
    font-size: 0.9em;
    font-weight: 600;
}
li > a:hover{
    color: rgb(206, 25, 197);
    transform: scale(0.9, 0.9);
    transition: 0.2s;
}



/*input e midias sociais*/

#container-input-social-media{
    display: inline-flex;
    width: 28%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.box-input{
    display: inline-flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}
.input-search{
    display: flex;
    width: 10em;
    height: 1.7rem;
    padding-left: 30px;
    text-align: left;
    align-items: center;
    justify-content: center;
    border: 3px solid #9667a9;
    border-radius: 50px;
    outline: none;
    background-image: url(/imgs/Imagem-lupa-search.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 5px;
    background-position-y: center;
}
::-webkit-input-placeholder{
    color: #9767a9;
    align-items: center;
    font-size: 13px;
    opacity: 80%;
}
.box-imgs-social-media{
    display: inline-flex;
    width: 35%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.img-face, .img-insta, .img-youtube{
    width: 1.7em;
    text-align: center;
    align-items: center;
    justify-content: center;
}



/*main*/
